<!-- <div class="content">
    <div class="card">
        <div class="card-header">
            <h5>Kayıt Ol</h5>
        </div>
        <div class="card-body">
            <form [formGroup]="candidateAddForm">
                <div class="mb-3">
                    <label>FIRST NAME</label>
                    <input type="text" placeholder="First Name" formControlName="firstName" class="form-control" />

                </div>
                <div class="mb-3">
                    <label>Last Name</label>
                    <input type="text" placeholder="last name" formControlName="lastName" class="form-control" />
                </div>
                <div class="mb-3">
                    <label>e-mail</label>
                    <input type="email" placeholder="e-mail" formControlName="email" class="form-control" />
                </div>
                <div class="mb-3">
                    <label>Nationality Number</label>
                    <input type="text" placeholder="Nationality Number" formControlName="nationalityId" class="form-control" />
                </div>
                <div class="mb-3">
                    <label>Birth Year</label>
                    <input type="number" placeholder="Password" formControlName="birthYear" class="form-control" />
                </div>
                <div class="mb-3">
                    <label>Password</label>
                    <input type="password" placeholder="Password" formControlName="password" class="form-control" />
                </div>
                <div class="mb-3">
                    <label>Password Again</label>
                    <input type="password" placeholder="password" formControlName="password" class="form-control" />
                </div>
              
            </form>

        </div>
        <div class="card-footer">
            <button [disabled]="!candidateAddForm.valid" class="btn btn-success" (click)="add()">
                Ekle
            </button>
        </div>
    </div>
</div> -->


<div class="text-center">
    <main class="form-signin">
        <form [formGroup]="candidateSignForm">
          <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
          <div class="form-floating">
            <input formControlName="email"   type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Email address</label>
          </div>
          <div class="form-floating">
            <input formControlName="firstName"  type="text" class="form-control" id="floatingInput" placeholder="First Name">
            <label for="floatingPassword">First Name</label>
          </div>
          <div class="form-floating">
            <input formControlName="lastName"  type="text" class="form-control" id="floatingPassword" placeholder="Last Name">
            <label for="floatingPassword">Last Name</label>
          </div>
          <div class="form-floating">
            <input formControlName="birthYear"  type="number" class="form-control" id="floatingPassword" placeholder="Birth Year">
            <label for="floatingPassword">Birth Year</label>
          </div>
          <div class="form-floating">
            <input formControlName="nationalityId"  type="number" class="form-control" id="floatingPassword" placeholder="Nationality Id">
            <label for="floatingPassword">Nationality Id</label>
          </div>
          <div class="form-floating">
            <input formControlName="password" [(ngModel)]="password" type="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
          </div>
          <div class="form-floating">
            <input formControlName="verifyPassword"  [(ngModel)]="verifyPassword" type="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password Again</label>
          </div>
          <div class="checkbox mb-3">
            <label>
              <input type="checkbox" value="remember-me"> Remember me
            </label>
          </div>
          <button (click)="addCandidate()" class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
          <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
        </form>
      </main>
    </div>