<div class="mb-3">
  <label>CV Title</label>
  <input type="text" placeholder="cvTitle" formControlName="title" class="form-control" />
</div>

<div class="input-group">
  <span class="input-group-text">cover letter</span>
  <textarea class="form-control" aria-label="With textarea" formControlName="coverLetter"></textarea>
</div>

<div class="mb-3">
  <label>Enter Github Link</label>
  <input type="text" placeholder="githubAccount" formControlName="githubAccount" class="form-control" />
</div>

<div class="mb-3">
  <label>Enter Linkedin</label>
  <input type="text" placeholder="linkedinAccount" formControlName="linkedinAccount" class="form-control" />
</div>
<div class="card-footer">
  <button [disabled]="!cvAddForm.valid" (click)="cvAdd()" class="btn btn-primary">
    Add
  </button>
</div>

<app-candidate-school></app-candidate-school>
<app-candidate-experience></app-candidate-experience>
<app-candidate-skill></app-candidate-skill>
<app-candidate-language></app-candidate-language>

<div class="card mb-3">
  <img src="https://www.collegedata.com/hs-fs/collegedata/images/article/college_size_sm_m_l.jpg" class="card-img-top"
    alt="...">
  <div class="card-body">
    <h5 class="card-title">Okul Bilgileri</h5>
    <p class="card-text">Okul Bilgilerinizi Girerek CV'nizi güçlendirin</p>
    <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#modal2">
      Okul Bilgisi Ekle
    </button>
  </div>

  