<div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3 mt-3">
    <div class="nav-item dropdown">
        <button type="button" class="btn btn-outline-light btn-drop"  data-bs-toggle="dropdown" routerLink="/candidateSign" >Üye Ol</button>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" href="#" routerLink="/candidateAdd">Candiadate</a></li>
          <li><a class="dropdown-item" href="#"routerLink="/employerAdd">Employer</a></li>


        </ul>
      </div>

    <button type="button" class="btn btn-outline-light" routerLink="/login" >Login</button>
</div>