<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">HRMS</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
       
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Candidate
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#" routerLink="/candidateAdd">Candidate Sign</a></li>
            <li><a class="dropdown-item" href="#" routerLink="/candidateList">Candidate List</a></li>
            
          </ul>
        </li>
        
       
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Employer
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#" routerLink="/employerAdd">Employer Sign</a></li>
            <li><a class="dropdown-item" href="#" routerLink="/employerList">Employer List</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Positions
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#" routerLink="/jobPositionAdd">Position Add</a></li>
            <li><a class="dropdown-item" href="#" routerLink="/jobPositionList">Position List</a></li>
            
          </ul>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Advertisements
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#" routerLink="/jobAdvertisementAdd">Add</a></li>
              <li><a class="dropdown-item" href="#" routerLink="/activeJobAdvertListByDate">ListByDate</a></li>
              <li><a class="dropdown-item" href="#" routerLink="/activeJobAdvertListByEmployer">ListByEmployer</a></li>
              <li><a class="dropdown-item" href="#" routerLink="/activeJobAdvertList">List</a></li>
              
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li>
      </ul>
      <!-- <form class="d-flex">
        <button class="btn btn-outline-success" routerLink="/login" type="submit">Giriş Yap</button>
      </form>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      <form class="d-flex">
        <button class="btn btn-outline-success" routerLink="/jobPositionAdd" type="submit">İş pozisyonu ekle</button>
      </form> -->
    </div>
  </div>
</nav>