<div class="content">
    <div class="card">
        <div class="card-header">
            <h5>Kayıt ol</h5>
        </div>
        <div class="card-body">

            <form [formGroup]="jobAdvertisementForm">
                <div class="mb-3">
                    <label>CityId</label>
                    <select  class="form-select" formControlName="cityId" >
                        <option *ngFor="let city of cities" [ngValue]="city.id" >{{city.name}}</option>  
                    </select>
                </div>

                <div class="mb-3">
                    <label>Deadline</label>
                    <input type="date" placeholder="Deadline" formControlName="deadline" class="form-control"  />
                </div>
                <div class="mb-3">
                    <label>EmpolyerId</label>
                    <select  class="form-select" formControlName="employerId" >
                        <option *ngFor="let employer of employers" [ngValue]="employer.id" >{{employer.companyName}}</option>  
                    </select>
                </div>
                
                <div class="mb-3">
                    <label>jobDescription</label>
                    <input type="text" placeholder="jobDescription" formControlName="jobDescription"
                        class="form-control" />
                </div>
                <div class="mb-3">
                    <label>maxSalary</label>
                    <input type="number" placeholder="maxSalary" formControlName="maxSalary" class="form-control" />
                </div>
                <div class="mb-3">
                    <label>minSalary</label>
                    <input type="number" placeholder="minSalary" formControlName="minSalary" class="form-control" />
                </div>
                <div class="mb-3">
                    <label>openPositions</label>
                    <input type="number" placeholder="openPositions" formControlName="openPositions"
                        class="form-control" />
                </div>
                <div class="mb-3">
                      <select  class="form-select" formControlName="employerId" >
                        <option *ngFor="let work of workTypes" [ngValue]="work.workModel" >{{work.workModel}}</option>  
                    </select>
                </div>

                <div class="mb-3">
                    <label>positionId</label>
                    <select name="positionId" id="positionId" class="form-control" formControlName="positionId">
                        <option *ngFor="let position of positions" [ngValue]="position.id">{{position.title}}</option>
                    </select>

                </div>
                <div class="mb-3">
                    <label>workTime</label>
                    <input type="workTime" placeholder="workTime" formControlName="workTime" class="form-control" />
                </div>

            </form>

        </div>
        <div class="card-footer">
            <button [disabled]="!jobAdvertisementForm.valid" (click)="add()" class="btn btn-success">
                Ekle
            </button>
        </div>
    </div>
</div>
