<table class="table">
    <thead>
      <tr>
        <th scope="col">Company Name</th>
        <th scope="col">Position Name</th>
        <th scope="col">Number of Position</th>
        <th scope="col">Date</th>
        <th scope="col">Deadline</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let active of activeJobsByEmployer">    
        <td>{{active.employer.companyName}}</td>
        <td>{{active.position.title}}</td>
        <td>{{active.openPositions}}</td>
        <td>{{active.createdAt}}</td>
        <td>{{active.deadline}}</td>
            
      </tr>
  
    </tbody>
  </table>
  