<div class="container">
<div class="row">
  <div class="col-md-2">
      <app-side-menu></app-side-menu>
  </div>
  <div class="col-md-10 mt-5">
<div class="container">
  <p-table #dt [value]="employerJobAdvertisements" dataKey="id" styleClass="p-datatable-sm" [rowHover]="true"
  [rows]="10" [showCurrentPageReport]="false" [rowsPerPageOptions]="[10,20,50,100]" [paginator]="true"
  [filterDelay]="0">
  <ng-template pTemplate="caption">
        <div class="table-header">
          <h4 class="text-center">List of Active Jobs Advertisements By Employer</h4>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
      <tr>
          <th pSortableColumn="employer.companyName">
              <div class="p-d-flex p-jc-between p-ai-center">
                  İş Veren
                  <p-sortIcon field="employer.companyName"></p-sortIcon>
                  <p-columnFilter type="text" field="employer.companyName" display="menu"
                      class="p-ml-auto">
                  </p-columnFilter>
              </div>
          </th>
          <th pSortableColumn="city.name">
              <div class="p-d-flex p-jc-between p-ai-center">
                  Şehir
                  <p-sortIcon field="city.name"></p-sortIcon>
              </div>
          </th>

          <th pSortableColumn="position.title">
              <div class="p-d-flex p-jc-between p-ai-center">
                  Pozisyon
                  <p-sortIcon field="position.title"></p-sortIcon>
              </div>
          </th>
          <th pSortableColumn="openPositions">
              <div class="p-d-flex p-jc-between p-ai-center">
                  Açık Pozisyon
                  <p-sortIcon field="openPositions"></p-sortIcon>
              </div>
          </th>
          <th pSortableColumn="createdAt">
              <div class="p-d-flex p-jc-between p-ai-center">
                  Oluşturulma Tarihi
                  <p-sortIcon field="createdAt"></p-sortIcon>
              </div>
          </th>
          <th pSortableColumn="deadline">
              <div class="p-d-flex p-jc-between p-ai-center">
                  Son Başvuru Tarihi
                  <p-sortIcon field="deadline"></p-sortIcon>
              </div>
          </th>
          <th pSortableColumn="active">
              <div class="p-d-flex p-jc-between p-ai-center">
                  Durum
                  <p-sortIcon field="active"></p-sortIcon>
              </div>
          </th>
          <th style="width: 3.5rem"></th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-jobAdvertisement>
      <tr class="p-selectable-row">
          <td class="text-capitalize">
              {{jobAdvertisement.employer.companyName}}
          </td>
          <td class="text-capitalize">
              {{jobAdvertisement.city.name}}
          </td>
          <td class="text-capitalize">
              {{jobAdvertisement.position.title}}
          </td>
          <td>
              {{jobAdvertisement.openPositions}}
          </td>
          <td>
              {{jobAdvertisement.createdAt | date: 'MM/dd/yyyy'}}
          </td>
          <td>
              {{jobAdvertisement.deadline | date: 'MM/dd/yyyy'}}
          </td>
          <td>
              {{jobAdvertisement.active }}
          </td>
          <td>
              <ng-container *ngIf="jobAdvertisement.active === true; else passive">
                  <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal"
                      data-bs-target="#activeBackDrop" (click)="catchId(jobAdvertisement.id)">
                      <i class="bi bi-lightbulb"></i></button>
                  <div class="modal fade" id="activeBackDrop" data-bs-backdrop="static"
                      data-bs-keyboard="false" tabindex="-1" aria-labelledby="activeBackDropLabel"
                      aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered">
                          <div class="modal-content">
                              <div class="modal-header">
                                  <h5 class="modal-title text-uppercase" id="activeBackDrop   Label">
                                      İş İlanı Pasifleştirme</h5>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal"
                                      aria-label="Close"></button>
                              </div>
                              <div class="modal-body text-start">
                                  İş ilanını pasif yapmak istediğinize emin misiniz?
                              </div>
                              <div class="modal-footer">
                                  <button type="button" class="btn btn-light"
                                      data-bs-dismiss="modal">Vazgeç</button>
                                  <button (click)="updateActivationJobAdvertisement(jobAdvertisement)"
                                      type="button" class="btn btn-secondary"
                                      data-bs-dismiss="modal">Pasif</button>
                              </div>
                          </div>
                      </div>
                  </div>
              </ng-container>
              <ng-template #passive>
                  <button type="button" class="btn btn-outline-success" data-bs-toggle="modal"
                      data-bs-target="#passiveBackDrop" (click)="catchId(jobAdvertisement.id)">
                      <i class="bi bi-lightbulb-fill"></i></button>
                  <div class="modal fade" id="passiveBackDrop" data-bs-backdrop="static"
                      data-bs-keyboard="false" tabindex="-1" aria-labelledby="passiveBackDropLabel"
                      aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered">
                          <div class="modal-content">
                              <div class="modal-header">
                                  <h5 class="modal-title text-uppercase" id="passiveBackDropLabel">
                                      İş İlanı Aktifleştirme</h5>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal"
                                      aria-label="Close"></button>
                              </div>
                              <div class="modal-body text-start">
                                  İş ilanını aktif yapmak istediğinize emin misiniz?
                              </div>
                              <div class="modal-footer">
                                  <button type="button" class="btn btn-light"
                                      data-bs-dismiss="modal">Vazgeç</button>
                                  <button (click)="updateActivationJobAdvertisement(jobAdvertisement)"
                                      type="button" class="btn btn-success"
                                      data-bs-dismiss="modal">Aktif</button>
                              </div>
                          </div>
                      </div>
                  </div>
              </ng-template>
          </td>
      </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
      <tr>
          <td colspan="8">Veri mevcut değil.</td>
      </tr>
  </ng-template>
</p-table>
  </div>
  <ng-template #loadingInfo>
    <div class="text-center d-flex flex-column align-items-center justify-content-center" style="height: 500px">
      <h6 class="mt-2">Loading...</h6>
    </div>
  </ng-template>
</div>
</div>
</div>